.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
  }

.light {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #555;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

.red {
    background-color: red;
    margin-top: 5px;
}

.yellow {
    background-color: yellow;
    margin-top: 5px;
}

.green {
    background-color: green;
    margin-top: 5px;
}

.stoplight {
    background-color: black;
    display: inline-block;
    padding: 10px;
    margin: auto;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border: white solid 5px;
}

.glow {
    box-shadow: 0px 0px 15px 15px #0ff;
}
